{"filter":false,"title":"django.config","tooltip":"/.ebextensions/django.config","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":2,"column":14},"end":{"row":2,"column":26},"action":"remove","lines":["rent_my_ride"],"id":2},{"start":{"row":2,"column":14},"end":{"row":2,"column":23},"action":"insert","lines":["quick_car"]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":2,"column":40},"end":{"row":2,"column":40},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1773125072822,"hash":"f4337aa2369ee14646070827a331187495fe05cb"}